:root {
  --sl-color-accent-low: #0b2a3a;
  --sl-color-accent: #38bdf8;
  --sl-color-accent-high: #d8f3ff;
}

:root[data-theme="light"] {
  --sl-color-accent-low: #d9f2fd;
  --sl-color-accent: #036d9e;
  --sl-color-accent-high: #102f40;
}

.sl-markdown-content
  :not(h1, h2, h3, h4, h5, h6, .sl-heading-wrapper)
  + .sl-heading-wrapper.level-h2 {
  margin-top: 0.75em;
}

.sl-markdown-content :not(pre) > code {
  overflow-wrap: anywhere;
}

.sl-markdown-content img {
  border: 1px solid var(--sl-color-gray-5);
  border-radius: 0.5rem;
}
